h3 {
    color: red;
}

div:nth-child(even) {
    color: blue;
}

div:nth-child(odd) {
    color: red;
}

#title {
    color: orange;
    font-size: 20px;
    padding-top: 10px;
    text-decoration: underline;
}