body {
    background-color: black;
}

div:nth-child(even) {
    color: black;
}

div:nth-child(odd) {
    color: navy;
}

h3 {
    background-color: #003;
    padding: 20px;
    color: gold;
    font-size: 20px;
}

main {
    text-align: left;
}


#title {
    padding: 15px;
    display: grid;
    grid-template-areas:
    "one one one five"
    "two three four five";
}

#title #person-name {
    text-align: center;
    padding-bottom: 15px;
    color: gold;
    background-color: navy;
    grid-area: one;
}

#title #eye-color {
    grid-area: two;
    background-color: steelblue;
}

#title #hair-color {
    grid-area: three;
    background-color: gold;
}

#title #race {
    grid-area: four;
    background-color: steelblue;
}

#title #image-here {
    grid-area: five;
    text-align: right;
    background-color: gold;
}

